
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css " rel="stylesheet" />

</head>
<body>
    <header class="bg-warning p-5">
        <nav class="d-flex justify-content-center gap-2">
            <a href="/Products/Index" class="btn btn-success">Get All</a>
            <a href="/Products/Create" class="btn btn-danger">Create</a>
            <a href="/Products/Update" class="btn btn-success">Update</a>
            <a href="/Products/Delete" class="btn btn-danger">Delete</a>
        </nav>
    </header>
    <main class="p-2">
        <section class="text-center fw-bold">
            Delete Products
        </section>
    </main>
    <footer class="text-center text-light fw-bold bg-secondary p-3">This Is Footer</footer>
</body>
</html>
